<table class="table" ng-controller="daybookListCtrl">
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>일시</th>
        <th>more</th>
    </tr>
    <tr ng-repeat="daybook in daybooks">
        <td>{{$index + 1}}</td>
        <td><a href="#" ng-click="view(daybook._id)">{{daybook.title}}</a></td>
        <td>{{daybook.author}}</td>
        <td>{{daybook.published_date | date: "yyyy.MM.dd HH:mm:ss"}}</td>
        <td>
            <div class="dropdown">
                <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                    ...</button>
                <ul class="dropdown-menu">
                    <li ng-click="remove(daybook._id)"><a href=""><span class="glyphicon glyphicon-remove-sign"></span> 삭제</a></li>
                </ul>
            </div>
        </td>
    </tr>
</table>

<style>
    .dropdown-menu {
        min-width: 50px;
    }
</style>